.container {
  border: 1px solid black;
}

.wrapper {
  border: 1px solid black;
  position: relative;
}

.results {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

/*.comments {
  display: inline-block;
  width: 35%;
}*/

.recording {
  display: inline-block;
  width: 35%;
}
