<div class="container">
  <p>Login</p>
  <a class="login" href="/me">Login</a>


  <div id="player"></div>


  <p>What kind of songs are you looking for?</p>

  <form class="search">
    <p>Input a genre:</p>
    <input class="genre" type="text" name="genre">
    <!-- <p>Input a duration(in milliseconds)</p> -->
    <!-- <input class="duration" type="number" name="duration"> -->
    <input type="submit" value="search">
  </form>

  <ul class="results">

  </ul>



</div>
