<div class="container">
  <p>Login</p>
  <a class="login" href="/me">Login</a>

  <p>What kind of songs are you looking for?</p>

  <form class="search">
    <p>Input a genre</p>
    <input type="text" name="genre">
    <input type="submit" value="search">
  </form>

  <ul class="results">

  </ul>

  <p>Play a song</p>
  <div class="play_container">
    <button class="player" type="button">Play a song!</button>
    <div id="player"></div>
  </div>
</div>
