<div class="container">

  <div class="banner">
    <a class="login" href="/me">Soundcloud Login / Logout</a>

    <div id="player"></div>
  </div>


  <form class="search">
    <p class="genreInput">Input a genre:</p>
    <input class="genre" type="text" name="genre">
    <input type="submit" value="search">
  </form>

  <div class="wrapper">
    <ul class="results">

    </ul>

    <!-- <ul class="comments">

    </ul> -->

    <ul class="recording">
      <li><p class="time">0:00</p></li>
      <li class="startRecording">
        <a class="recordCircle" href="#">
          <div class="circle">
            <p>
              Start Recording
            </p>
          </div>
        </a>
      </li>
      <li class="stopRecording" >
        <a href="#">
          <div class="square">
            <p>Stop Recording</p>
          </div>
        </a>
      </li>
      <li class="playBack">
        <a href="#">
          <div class="arrow-right">
            <span>
              Play Back
            </span>
          </div>
        </a>
      </li>
      <li>
        <form class ="upload">
          <input class="newTrack" type="text" name="track">
          <input type="submit" value="upload track">
        </form>
      </li>
    </ul>


  </div>



</div>
