<div class="container">
  <p>Login</p>
  <a class="login" href="/me">Login</a>


  <div id="player"></div>


  <p>What kind of songs are you looking for?</p>

  <form class="search">
    <p>Input a genre:</p>
    <input class="genre" type="text" name="genre">
    <input type="submit" value="search">
  </form>

  <div class="wrapper">
    <ul class="results">

    </ul>

    <!-- <ul class="comments">

    </ul> -->

    <ul class="recording">
      <li><p class="time"></p></li>
      <li class="startRecording"><a href="#">Start Recording</a></li>
      <li class="stopRecording" ><a href="#">Stop Recording</a></li>
      <li class="playBack"><a href="#">Play Back</a></li>
      <li class="upload"><a href="#">Upload</a></li>
    </ul>
  </div>



</div>
