<div class="container">
  <p>Login</p>
  <a class="login" href="/me">Login</a>


  <div id="player"></div>


  <p>What kind of songs are you looking for?</p>

  <form class="search">
    <p>Input a genre:</p>
    <input class="genre" type="text" name="genre">
    <input type="submit" value="search">
  </form>

  <div class="wrapper">
    <ul class="results">

    </ul>

    <!-- <ul class="comments">

    </ul> -->

    <ul class="recording">
      <li><p class="time">0:00</p></li>
      <li class="startRecording">
        <a class="recordCircle" href="#">
          <div class="circle">
            <p>
              Start Recording
            </p>
          </div>
        </a>
      </li>
      <li class="stopRecording" >
        <a href="#">
          <div class="square">
            <p>Stop Recording</p>
          </div>
        </a>
      </li>
      <li class="playBack"><a href="#">Play Back</a></li>
<!--       <li class="upload"><a href="#">Upload</a></li> -->
      <li>
        <form class ="upload">
          <input class="newTrack" type="text" name="track">
          <input type="submit" value="upload track">
        </form>
      </li>
    </ul>


  </div>



</div>
